In [16]:
s = "ababcdcdababcdcd"

In [2]:
len(s)

16

In [4]:
s[:2]

'ab'

In [18]:
len(s)//2

8

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as ply
import seaborn as sns

In [24]:
df = sns.load_dataset('anscombe')

In [25]:
df.head()

  dataset     x     y
0       I  10.0  8.04
1       I   8.0  6.95
2       I  13.0  7.58
3       I   9.0  8.81
4       I  11.0  8.33